<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>LEGO</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/gamePage.css">
	<style>
		@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

		/* table */
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
}
h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}

/* Table Styles */

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: black;
	
    border-right: 1px solid #f8f8f8;
    border-left: 1px solid black;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}

	</style>
</head>
<body>
    <nav>
    <div class="logo">
       LEGO
    </div>
    <input type="checkbox" id="click">
    <label for="click" class="menu-btn">
    <i class="fas fa-bars"></i>
    </label>
    <ul>
       <li><a href="/games">Games</a></li>
       <li><a href="/ranking">Ranking</a></li>
       <li><a href="/board">Community</a></li>
       <li><a href="/developer">Develop</a></li>
       <li><a class="active" href="/mypage">My Page</a></li>
    </ul>
 </nav>
	<section class="py-5 my-5">
		<div class="container">

			<!-- Sub navbar -->
			<h1 class="mb-5">My Page</h1>
			<div class="bg-white shadow rounded-lg d-block d-sm-flex">
				<div class="profile-tab-nav border-right">
					<div class="p-4">
						<h4 class="text-center"> <%= user.userId %> </h4>
					</div>
					<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
						<a class="nav-link" id="password-tab" data-toggle="pill" href="#password" role="tab" aria-controls="password" aria-selected="false">
							<i class="fa fa-key text-center mr-1"></i> 
							Password
						</a>
						<a class="nav-link" id="application-tab" data-toggle="pill" href="#application" role="tab" aria-controls="application" aria-selected="false">
							<i class="fa fa-tv text-center mr-1"></i> 
							Community
						</a>
						<a class="nav-link" id="logout-tab" data-toggle="pill" href="#logout" role="tab" aria-controls="logout" aria-selected="false">
							<i class="fa fa-tv text-center mr-1"></i> 
							Log-out
						</a>
					</div>
				</div>
				<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
			
					<!-- Password field -->
					<div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
						<form method="POST" action="/mypage/detail/modify_password" enctype="application/json">
							<h3 class="mb-4">Password Settings</h3>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>Old password</label>
										<input type="password" class="form-control" name="oldpassword">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>New password</label>
										<input type="password" class="form-control" name="newpassword1">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label>Confirm new password</label>
										<input type="password" class="form-control" name="newpassword2">
									</div>
								</div>
							</div>
							<div>
								<button class="btn btn-primary" type="submit">Update</button>
							</div>
						</form>
					</div>


					<!-- boards field -->
					<div class="tab-pane fade" id="application" role="tabpanel" aria-labelledby="application-tab">
						<h3 class="mb-4">My boards</h3>
						<table style = "height: 50px; "class="fl-table" border="1">
							<thead>
							<tr>
								<!-- <th>번호</th> -->
								<th>제목</th>
								<th>조회수</th>
								<th>수정일</th>
								<th>등록일</th>
							</thead>
							</tr>
							<%
							for (var i = 0; i < boards.length; i++) {
							%>
							<tbody>
							<tr>
								<!-- <td><%= boards[i].boardId %></td> -->
								<td><a href="/board/read/<%= boards[i].boardId %>"><%= boards[i].title %></a></td>
								<td><%= boards[i].viewCount %></td>
								<td><%= boards[i].modidate %></td>
								<td><%= boards[i].regdate %></td>
							</tr>
							</tbody>
							<%}%>
						</table>
					</div>

					<!-- boards field -->
					<div class="tab-pane fade" id="logout" role="tabpanel" aria-labelledby="logout-tab">
						<h3 class="mb-4">Log-out</h3>
						<center>
						<p>히잉 한 판만 더 하고 가요</p>
						<button class="btn btn-primary" type="submit" onclick="location.href='https://github.com/ndo04343/LEGO'">싫어 엄마가 그만하래</button>
					</center>
					</div>

					<!-- End of fields -->

				</div>
			</div>
		</div>
	</section>


	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>